@import url('<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap" rel="stylesheet">');

* {
  margin:0;
  padding: 0;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

nav li a {
  text-decoration: none;
  padding: 10px 15px;
  color: white;
}

.app {
  text-align: center;
}

nav h2 {
  font-weight: 700 !important;
  font-size: 22px;
  color: white;
}

h2 {
    font-weight: 700;  
}
